.addUserPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.titleAddUser {
    text-align: center;
    padding-bottom: 15px;
}

.formAddUser {
    display: flex;
    justify-content: center;
}

.addUserButtons {
    display: flex;
    width: 100%;
    justify-content: end;
}

.addUserButtons button {
    margin-left: 10px;
}